# Dependencies
node_modules/

# Build output
dist/
.next/
out/
build/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Prisma
apps/backend/prisma/migrations/dev.db

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
next-env.d.ts
